.env

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.sqlite3

*.log

*.db

venv/
.env/
.venv/

htmlcov/
coverage.xml
.pytest_cache/
.tox/

**/postgres_data/
*.pid

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

build/
dist/
*.egg-info/
